body{
  background-image: linear-gradient( 114.2deg,  rgba(121,194,243,1) 22.6%, rgba(255,175,204,1) 67.7% );
  min-height: 100vh;
}

.heading{
  font-family: "New Amsterdam", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 80px;
  background-image: linear-gradient( 132.6deg,  rgb(72, 149, 232) 23.3%, rgb(220, 130, 208) 84.7% );
  background-clip: text;
  color: transparent;
}

#todos{
  margin: 0px auto;
  max-width: 1200px;
}

.adding-div{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.main-btn{
  border-radius: 20px;
  padding: 3px 8vw;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: #caf0f8;
  color: #003566;
  border-color: #003566;
}

.main-btn:hover{
  cursor: pointer;
  background-color: #5ee4ff;
}

.main-btn:active{
  background-color: #78cdff;
}

.input-main{
  height: 20px;
  width: 60vw;
  padding: 5px 20px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: #caf0f8;
  color: #003566;
  border-color: #75A6FC;
  border-radius: 30px;
}

.input-main:focus{
  outline: none;
  background-color: #b7e4ec;
  border-color: aqua;
}

.todo-item{
  display: flex;
  margin: 1vw auto;
  padding: 10px 5px;
  border-bottom: 1px solid #82aeb7;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 10px
}

.input-box{
  width: 60%;
  background-color: inherit;
  border: 1px solid aqua;
  border-radius: 10px;
  outline: none;
  max-height: 20vh;
  min-height: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #003566;
  word-break: break-word;
  resize: none;
  overflow: auto;
  line-height: inherit;
}

.input-box:focus{
  border: 0px;
}

.todo-content{
  width: 60%;
  max-height: 20vh;
  min-height: 25px;
  overflow: auto;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #003566;
  word-break: break-word;
}

.btn{
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  background-color: #caf0f8;
  color: #003566;
  border-color: #75A6FC;
  border-radius: 30px;
}

.delete-btn{
  background-color: #ff98ee;
}

.edit-btn{
  background-color: #9bdae7;
}

.done-btn{
  background-color: #95ceb4;
}

.done-btn:hover{
  cursor: pointer;
  background-color: #5edaa0;
}

.edit-btn:hover{
  cursor: pointer;
  background-color: #14b7d8;
}

.delete-btn:hover{
  cursor: pointer;
  background-color: rgb(255, 111, 221);
}

.done-btn:focus{
  background-color: #10ec85;
}

.edit-btn:focus{
  background-color: #00caf7;
}

.delete-btn:focus{
  background-color: rgb(255, 57, 209);
}

.todo-item > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


@media screen and (min-width: 250px){
  .input-main{
    width: 200px;
  }

  .main-btn{
    padding: 3px 25px;
  }

  .todo-content{
    font-size: 16px;
  }

  .input-box{
    font-size: 16px;
  }

  .btn{
    font-size: 15px;
  }

}

@media screen and (min-width: 425px){
  .adding-div{
    flex-direction: row;
    gap: 30px;
  }

  .todo-content{
    font-size: 20px;
  }

  .input-box{
    font-size: 20px;
    max-height: 30vw;
  }

}

@media screen and (min-width: 800px){
  .input-main{
    height: 30px;
    width: 300px;
    font-size: 20px;
  }

  .main-btn{
    padding: 5px 30px;
    font-size: 25px;
  }

  .todo-content{
    max-height: 200px;
  }

  .input-box{
    max-height: 200px;
  }

  .todo-item{
    margin: 20px auto;
  }

}